In [1]:
from livescore_scraper import scrape

In [2]:
scrape('2021-04-16', '2021-04-23')

,date,home_team,home_score,away_team,away_score,played
0,2021-04-18,Paris Saint-Germain,3,Saint-Etienne,2,True
1,2021-04-18,Brest,1,Lens,1,True
2,2021-04-18,Dijon,2,Nice,0,True
3,2021-04-18,Nimes,1,Strasbourg,1,True
4,2021-04-18,Reims,0,Metz,0,True
5,2021-04-18,Bordeaux,0,Monaco,3,True
6,2021-04-18,Nantes,1,Lyon,2,True
7,2021-04-23,Reims,0,Marseille,0,False