In [1]:
import os
os.environ["LANG"] = "en_US.UTF-8"

In [2]:
import requests
import pandas as pd
import numpy as np
import seaborn as sns
import bs4 as bs
from selenium import webdriver

In [3]:
import re

url = 'https://www.livescore.com/en/football/france/ligue-1/#/20210417'

browser = webdriver.Chrome('./chromedriver.exe')
browser.get(url)
sauce = browser.page_source
browser.quit()
soup = bs.BeautifulSoup(sauce,'lxml')

In [4]:
home_class = "FootballMatchRow_teamName__28Hxv"
home_score_class = "FootballMatchRow_score__home__2-xt3"

away_class = "FootballMatchRow_teamName__28Hxv"
away_score_class = 'FootballMatchRow_score__away__30bhM'

home_teams = soup.find_all('span', {'class' : home_class})[::2]
home_scores = soup.find_all('span', {'class' : home_score_class})

away_teams = soup.find_all('span', {'class' : away_class})[1::2]
away_scores = soup.find_all('span', {'class' : away_score_class})

matchs = []
for i in range(len(home_teams)):
    teams = '{} - {}'.format(home_teams[i].text, away_teams[i].text)
    home_team = home_teams[i].text
    away_team = away_teams[i].text
    home_score = home_scores[i].text
    away_score = away_scores[i].text
    score = '{} - {}'.format(home_scores[i].text, away_scores[i].text)
    if home_score == '?':
        matchs.append((home_team, 0, away_team, 0, False))
    else:
        matchs.append((home_team, int(home_score), away_team, int(away_score), True))

In [5]:
df = pd.DataFrame(matchs, columns=['home_team', 'home_score', 'away_team', 'away_score', 'played'])

In [6]:
df

   home_team  home_score away_team  away_score  played
0     Angers           0    Rennes           3    True
1  Marseille           3   Lorient           2    True